/* Color Palette
#0c30cd - Purple Heart - Website Background
#21cef1 - Pacific Blue - Element Background
# - color 3
# - color 4
*/

/* Global styles 
------------------------------------*/
html{
  background : #818479; 
  margin : 0;
  box-sizing: border-box;
}

body {
  width: 80%;
	margin-right: auto;
	margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

section {
  background : #E4E9B2;
}

/* Header & Footer 
------------------------------------*/
header {
	background : #B5CBB7;
}

footer{
  background : #D2E4C4;
  text-align: center
}

.contact-info a{
  padding: 10px; 
  display: inline-block;
}

/* H#'s'
------------------------------------*/
h1{
  font-family: 'Courier Prime', monospace;
  font-size: 3em;
  margin: 0;
}

h2{
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3{
  font-family: 'Roboto', sans-serif;
}

.content-wrap{
  max-width: 950px;
  margin: 0 auto;
  padding: 35px;
  overflow: hidden;
}

/*Navigation Bar at the Top
------------------------------------*/
nav {
  background: purple;
  position: fixed;
  top: 0em;
  width: 80%;
}
a {
  background: lightblue;
}

/* Navigation using 'display' */
.display {
  text-align: center;
  
  /* To reduce the space between the elements set the font size to zero in the parent element. */
  
  /* font-size: 0; */
  
}
.display a {
  padding: 10px;
  display: inline-block;
  
  /* This extra space affects how much total space the element takes up. Let's say I want to make four equal elements, by setting the links to a width of 25%. Even though 25 x 4 = 100%, the last item gets pushed down to the next line because there's not enough space for it. */  
  
  /* width: 25%; */
  
  
  
  /* Because font size is also inherited, you'll have to reset the font size in the child element itself. */
  
  /* font-size: 16px; */
}

/* For the narrow and wide Columns
------------------------------------*/
.column-narrow{
  width: 30%; 
  float: left;
	padding-right: 3%; 
  min-height 175px;
}

.column-wide {
  width: 70%; 
  float: left; 
  min-height: 225px;
}

/* For Two Evenly Spaced Columns
------------------------------------*/
.row {
  display: flex;
}

.column {
  flex: 50%;
}

/* For Two Evenly Spaced Columns NO FLEX
------------------------------------*/
.column-even {
  float: left;
  width: 50%;
}

/*Extras
------------------------------------*/
.profile-img{
  border-radius:100%;
  /*float: left;
  margin-right: 30px;
  width: 243px;*/
}

*, *:before, *:after{
  box-sizing:inherit;
}

