/* Color Palette
#0c30cd - Purple Heart - Website Background
#21cef1 - Pacific Blue - Element Background
# - color 3
# - color 4
*/

/* Global styles 
------------------------------------*/
html{
  background : #818479; 
  margin : 0;
}

body {
  background : #E7E08B;
  width: 80%;
	margin-right: auto;
	margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

section {
  background : #E4E9B2;
}

/* Header & Footer 
------------------------------------*/
header {
	background : #B5CBB7;
}

footer{
  background : #D2E4C4;
}


/* H#'s'
------------------------------------*/
h1{
  font-family: 'Courier Prime', monospace;
  font-size: 3em;
}

h2{
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3{
  font-family: 'Roboto', sans-serif;
}

.content-wrap{
  max-width: 950px;
  margin: 0 auto;
  padding: 35px;
}

/* Work Experience
------------------------------------*/



/* Education
------------------------------------*/

/* For Two Columns
------------------------------------*/
.row {
  display: flex;
}

.column {
  flex: 50%;
}